@model EditOrderViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>Edit Order</h1>
</div>

<form asp-controller="Order" asp-action="Edit" method="post">
    <label>Shoe Count</label>
    <input class="form-control" type="number" name="shoe count" value="@Model.ShoeCount" />
    <label>Shoe Type</label>
    <input class="form-control" type="text" name="room type" value="@Model.ShoeType" />
    <label>Shoes:</label>
    <select id="shoes" name="shoes">
        <option value="@Model.Shoe">Please select one:</option>
    </select>
    <label>Order Price:</label>
    <input class="form-control" value="Order Price" id="order price" />

    <div class="text-right mt-2">
        <button class="btn btn-success" type="submit" asp-route-id="@Model.Id">Edit</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>